.banner {
    width: 100%;
}
header {
    background-color: aquamarine;
}

.container {
    width: 80%;
    background-color: rgb(219, 160, 83);
    margin: auto;

}

footer {
    background-color: aquamarine;
    width: 100%;
}